<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- reset css --}}
		{{!-- style css --}}
		<title>Burger Tracker</title>
	</head>
	<body>
		{{{ body }}}

		{{!-- jQuery --}}
		{{!-- JS file from public dir --}}
	</body>
</html>